@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__nuxt {
  font-family: "DM Sans", cursive;
}

body {
  background: #dfdfdf2b;
}

.crazyBg {
  background-image: linear-gradient(45deg, #274c37, #00316f);
}
